body {
    background-color:steelblue;
}
.myself {
    color: aliceblue;
       }
   
       .classes {
   color: aliceblue;
       }
   
       .movies {
   color:aliceblue;
       }
       .friends {
color: aliceblue;
       }